.div {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column
}

.textarea {
    border: 1px solid black;
    margin-bottom: 1rem;
    min-height: 6rem;
}

.button {
    
    padding: 0.5rem 1rem;
    border: 1px solid black;
    width: 30%;

}